<<<<<<< HEAD
.good-img { height: 150px; background-position: center; background-repeat: no-repeat; background-size: contain; }
.card-title { height: 76px; }
.item-count { width: 64px; text-align: center; }
=======
.good-img { height: 150px; background-position: center; background-repeat: no-repeat; background-size: contain; }
.card-title { height: 76px; }
.item-count { width: 64px; text-align: center; }
>>>>>>> master
.cart-list .good-img { background-position: center top; }